# node_modules
node_modules/

# env
.env

# logs
logs
*.log
npm-debug.log*

# build
dist/
build/

# uploaded files
back_end/public/uploads/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# package lock (optional)
package-lock.json
